/*=============================================================*/
/* Fluid grid taken from ZURB's brilliant Foundation Framework */
/*       Tweaked and moulded into CRYSTAL's Boilerplate        */
/*                  By Dan Lake @ CRYSTAL                      */
/*=============================================================*/

.row {
	.row { 
		min-width: 0px;
	}
	.one.columns {
		width: 4.3%;
	}
	.two.columns {
		width: 13%;
	}
	.three.columns {
		width: 21.68%;
	}
	.four.columns {
		width: 30.4%;
	}
	.five.columns {
		width: 39.1%;
	}
	.six.columns {
		width: 47.8%;
	}
	.seven.columns {
		width: 56.5%;
	}
	.eight.columns {
		width: 65.2%;
	}
	.nine.columns {
		width: 73.9%;
	}
	.ten.columns {
		width: 82.6%;
	}
	.eleven.columns {
		width: 91.3%;
	}
	.twelve.columns {
		width: 100%;
	}
	.offset-by-one {
		margin-left: 13.1%;
		&:first-child {
			margin-left: 8.7%;
		}
	}
	.offset-by-two {
		margin-left: 21.8%;
		&:first-child {
			margin-left: 17.4%;
		}
	}
	.offset-by-three {
		margin-left: 30.5%;
		&:first-child {
			margin-left: 26.1%;
		}
	}
	.offset-by-four {
		margin-left: 39.2%;
		&:first-child {
			margin-left: 34.8%;
		}
	}
	.offset-by-five {
		margin-left: 47.9%;
		&:first-child {
			margin-left: 43.5%;
		}
	}
	.offset-by-six {
		margin-left: 56.6%;
		&:first-child {
			margin-left: 52.2%;
		}
	}
	.offset-by-seven {
		margin-left: 65.3%;
		&:first-child {
			margin-left: 60.9%;
		}
	}
	.offset-by-eight {
		margin-left: 74.0%;
		&:first-child {
			margin-left: 69.6%;
		}
	}
	.offset-by-nine {
		margin-left: 82.7%;
		&:first-child {
			margin-left: 78.3%;
		}
	}
	.offset-by-ten {
		margin-left: 91.4%;
		&:first-child {
			margin-left: 87%;
		}
	}
	.offset-by-eleven { 
		&:first-child {
			margin-left: 95.7%;
		}
	}
	.one.centered {
		margin-left: 47.9%;
	}
	.two.centered {
		margin-left: 43.5%;
	}
	.three.centered {
		margin-left: 39.2%;
	}
	.four.centered {
		margin-left: 34.8%;
	}
	.five.centered {
		margin-left: 30.5%;
	}
	.six.centered {
		margin-left: 26.1%;
	}
	.seven.centered {
		margin-left: 21.8%;
	}
	.eight.centered {
		margin-left: 17.4%;
	}
	.nine.centered {
		margin-left: 13.1%;
	}
	.ten.centered {
		margin-left: 8.7%;
	}
	.eleven.centered {
		margin-left: 4.3%;
	}
}
.column, .columns {
	margin-left: 4.4%;
	float: left;
	min-height: 1px;
	position: relative;
	&:first-child {
		margin-left: 0px;
	}
}
img, object, embed {
	max-width: 100%;
	height: auto;
}
img {
	-ms-interpolation-mode: bicubic;
}
// Nicolas Gallagher's micro clearfix
.row, .clearfix {
	&:before, &:after {
		content:"";
		display:table;
	}
	&:after {
		clear: both;
	}
	zoom: 1;
} 
@media only screen and (min-width: 0px) and (max-width: 479px) {
	.block-grid {
		display: block;
		overflow: hidden;
	}
	.block-grid>div {
		display: block;
		height: auto;
		float: left;
	}
	
	.block-grid.two-up>div.columns {
		margin-left: 4%;
		width: 46%;
	}
	/* .block-grid.three-up {
		margin-left: -2%
	}*/
	.block-grid.three-up>div.columns{
		margin-left: 2%;
		width: 31.3%;
	}
	/* .block-grid.four-up {
		margin-left: -2%
	}*/
	.block-grid.four-up>div.columns {
		margin-left: 2%;
		width: 23%;
	}
	/* .block-grid.five-up {
		margin-left: -1.5%
	}*/
	.block-grid.five-up>div.columns {
		margin-left: 1.5%;
		width: 18.5%;
	}
	.block-grid:first-child {
		margin-left: 0%;
	}
	
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
	.container {
		padding: 0px 20px;
	}
	.row {
		width: 100%;
		max-width: 767px;
		min-width: 320px;
		margin: 0 auto;
	}
	// To fix the grid into a certain size, set max-width to width
}
@media only screen and (min-width: 768px) and (max-width: 1001px) {
	.container {
		width: 768px;
		margin: 0px auto;
	}
	.row {
		width: 748px;
		margin: 0px 10px;
	}
}
@media only screen and (min-width: 1002px) {
	.container {
		width: 1002px;
		margin: 0px auto;
	}
	.row {
		width: 978px;
		margin: 0px 12px;
	}
}
